{% if site.owner.google.ad-client and site.owner.google.ad-slot %}
<div class="google-ads">
  <!-- 320 x 50 ad -->
  <script async src="http://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
  <ins class="adsbygoogle"
       style="display:inline-block;width:320px;height:50px"
       data-ad-client="{{ site.owner.google.ad-client }}"
       data-ad-slot="{{ site.owner.google.ad-slot }}"></ins>
  <script>
  (adsbygoogle = window.adsbygoogle || []).push({});
  </script>
</div><!-- /.google-ads -->
{% endif %}

<span>&copy; {{ site.time | date: '%Y' }} {{ site.owner.name }}</span>
<div class="footer-links">
  {% if site.owner.email %}<a href="mailto:{{ site.owner.email }}"><i class="fa fa-fw fa-envelope-square"></i></a>{% endif %}
  {% if site.owner.github %}<a href="https://github.com/{{ site.owner.github }}" target="_blank"><i class="fa fa-fw fa-github"></i></a>{% endif %}
  <a href="https://scholar.google.se/citations?hl=en&user=HgOAYUAAAAAJ" target="_blank"><i class="fa fa-fw fa-graduation-cap"></i></a>
</div>
